.app {
    max-width: 960px;
    margin: 0 auto;
}

.prof-pic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.scroll-box {
    height: 350px;
    overflow-y: scroll;
}

*{
    outline: 1px solid black;
}

/* Refresh button is above "Currently playing" for tablet and below */
@media only screen and (min-width: 1024px) {
    .refresh-btn {
        order: 1;
    }
}