.app {
    max-width: 1280px;
    margin: 0 auto;
}

.prof-pic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.scroll-box {
    height: 400px;
    overflow-y: scroll;
}

.spotify-track, .spotify-artist {
    width: 375px;
}

/* Refresh button is above "Currently playing" for tablet and below */
@media only screen and (min-width: 1024px) {
    .refresh-btn {
        order: 1;
    }
}