{% extends 'base.html' %} 
{% load static %} 

{% block title %}About Me{% endblock %} 

{% block head %}
<meta name="description" content="About page for Nick Wong"/>
<link rel="stylesheet" href="{% static 'bio/about.css' %}"/>
{% endblock %} 

{% block content %}
<section class="section bio">
    <h1>About Me</h1>
    <p>
        I'm a software engineer currently living in Austin, TX (born and raised!) I
        am the son of immigrants, who both worked hard to afford me the life and
        education I've been given. What else... ISFJ and 6w5 I guess (lol). Thanks for checking out my
        website! Visit my <a href="{% url 'blog' %}">blog</a> to learn more about who I am and what
        I'm thinking.
    </p>
</section>
<section class="section interests">
    <h3>Things I Care About</h2>
    <ul>
        <li>Climate Change and Sustainability</li>
        <li>Christianity and Spiritual Matters</li>
        <li>Poverty, Homelessness, and Global Inequality</li>
    </ul>
</section>
<section class="section hobbies">
    <h3>Things I Enjoy</h2>
    <ul>
        <li>Sports! Current favs are spikeball and basketball. Trying to get into swimming</li>
        <li>Music! Some artists I enjoy: Luke Chiang, CityAlight, NF, Tim Be Told, Lin-Manuel Miranda, Shane & Shane, Voiceplay, All Sons & Daughters, Tobe Nwigwe</li>
        <li>Cooking! Big fan of low-effort, tasty, healthy, home-cooked meals. Been entertaining flexitarianism on-and-off</li>
        <li>Podcasts! Listening to BibleProject, Almost Heretical, and Global News Podcast</li>
        <li>Books! Mix of fiction, spiritual, and learning about the world</li>
    </ul>
</section>
<section class="section projects">
    <h3>Things I've worked on</h2>
        <ul>
            <li>This website!</li>
            <li>Re:Sound A Cappella!
                <a class="button is-info is-light is-small" href="https://www.youtube.com/channel/UCVlWVtLWJfl-tYTRrnlg1IQ">
                <span class="icon-text has-text-black">
                    <span class="icon">
                        <i class="fa-brands fa-youtube"></i>
                    </span>
                    <span>Check us out on YouTube!</span>
                </span>
                </a>
            </li>
        </ul>
</section>
{% endblock %}