{% extends 'base.html' %}
{% load static %}

{% block title %}Blog{% endblock%}

{% block head %}
<meta name="description" content="Nick Wong's blog"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.14.0/css/selectize.default.min.css" integrity="sha512-ogCYKYfJlA0Kc9mxdCu9hQAWv2H7RzzevoB1Ou24geX08ek6hTp+/WDLsqoi3LyMFh1vsuGukSnmszdpxi9Mhw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'blog/index.css' %}"/>
{% endblock %}

{% block content %}

<div class="columns is-desktop">
    <div class="column is-three-fifths-desktop">
        {% block center %}
        {% if is_search %}
        <h2>{{ posts|length }} search results{% if search_terms %} for "{{ search_terms }}"{% endif %}</h2>
        {% endif %}
        <ul>
            {% for post in posts %}
            <li><a href="{% url 'post' post.slug %}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
        {% endblock %}
    </div>
    <div class="column search-bar">
        {% block left %}
        <form>
            <h4>Search the blog</h4>
            <div class="field">
                <label for="keyword-entry" class="label">Keywords</label>
                <div>
                    <input id="keyword-entry" name="keywords" class="input" type="text"/>
                </div>
            </div>
            <div class="field">
                <label for="tag-selector" class="label">Include tags</label>
                <div class="control">
                    <select id="tag-selector" name="tags" multiple>
                        {% for tag in all_tags %}
                        <option {% if tag in active_tags %}selected{% endif %} 
                                value="{{ tag }}">{{ tag }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-link is-small">Search</button>
                </div>
            </div>
        </form>
        {% endblock %}
    </div>
    <div class="column">
        {% block right %}
        <div class="card">
            <header class="card-header">
                Welcome to the blog!
            </header>
            <div class="card-image">
                <img src="{% static 'TODO.png' %}"/>
            </div>
            <div class="card-content">
                <h4>Here's what you can expect here:</h4>
                <ul>
                    <li>Unpolished, incomplete thoughts: Life is confusing and I’m also a bad writer</li>
                    <li>Reflections on what I’m reading and listening to</li>
                    <li>Maybe other things, idk what I’m doing lol</li>
                </ul>
                <p>Please feel free to engagein the comments! Respectfully!</p>
            </div>
        </div>
        {% endblock %}
    </div>
</div>

{% endblock%}

{% block scripts %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.14.0/js/selectize.min.js" integrity="sha512-VReIIr1tJEzBye8Elk8Dw/B2dAUZFRfxnV2wbpJ0qOvk57xupH+bZRVHVngdV04WVrjaMeR1HfYlMLCiFENoKw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
$("#tag-selector").selectize({
    plugins: ["remove_button"]
});
</script>
{% endblock %}