{% extends 'blog/index.html' %}
{% load static %}

{% block title %}{{ post.title }}{% endblock%}

{% block head %}
{{ block.super }}
<meta name="description" content="TODO A post on Nick Wong's blog"/>
<!-- <link rel="stylesheet" href="{% static 'blog/post.css' %}"/> -->
{% endblock %}

{% block center %}
<h1>{{ post.title }}</h1>
<p>{{ post.hook }}</p>
<p>{{ post.tags }}</p>
<p>Published {{ post.publish_date }}</p>
<p>Last modified {{ post.latest_modified_date }}</p>
<img src="{% static post.feature_image %}"/>
<p>{{ post.body }}</p>
{% endblock%}

{% block right %}
{{ block.super }}
<h5>Read also</h5>
<p>Post 1</p>
<p>Post 2</p>
{% endblock %}