.content {
    display: flex;
    justify-content: center;
}

.greeting, .photo {
    margin: 20px;
}

.greeting {
    font-size: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    text-align: right;
}

@media only screen and (max-width: 960px) {
    .greeting {
        font-size: 3.125vw; /* in sync with .greeting 30px font-size */
    }
}