* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    display: flex;
    justify-content:space-between;
    align-items: center;

    width: 100%;
    height: 80px;
    padding: 20px;

    font-size: 15px;
    font-family: sans-serif;
    color: #242424;
    background: #a7c7e7;
}

.content {
    padding-top: 80px; /* matches header height */
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menu > li {
    display: flex;
}

.menu > li > a {
    padding: 30px 20px; /* V then H */
}

a:link,
a:visited {
    color: #242424;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}