{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{% static 'base.css' %}"/>
        <title>{% block title %}TODO{% endblock %} | Nick Wong</title>
        {% block head %}
            <meta name="description" content="TODO"/>
        {% endblock %}
    </head>
    <body>
        <header>
            <h1>Nick Wong</h1>
            <nav>
                <ul class="menu">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="#">More to come!</a></li>
                    <!-- More to come! -->
                </ul>
            </nav>
        </header>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
