{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block head %}
<meta name="description" content="Spotify analytics"/>
{% endblock %}

{% block content %}

<h1>Spotify</h1>
<p>Access token: {{ access_token }}</p>
<p>Refresh token: {{ refresh_token }}</p>
{% if logged_in %}
<p>You are logged in</p>
<a href="{% url 'splogout' %}">Logout</a>
<a href="{% url 'sprefresh' %}">Refresh the access token</a>
{% else %}
<a href="{% url 'splogin' %}">Login here</a>
{% endif %}

<div id='root'></div>
<script src="{% static 'index-bundle.js' %}"></script>

{% endblock %}